.container {
  width: 100%; /* Гумова верстка від 320px */
  max-width: 375px; /* Адаптивна від 375px */
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  outline: 1px solid red;
}

/* Tablet - від 768px */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

/* Desktop - від 1440px */
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1216px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
