html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;

  font-family: var(--font-family);
  color: var(--color-text);
  background-color: var(--color-bg);
  font-weight: 500;
  font-size: 14px;
  margin: 0;

  line-height: 1.29;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 20px;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  font: inherit;
  border: none;
  outline: none;
  background: none;
  transition: background-color var(--transition), color var(--transition);
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
