.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
  border-radius: 15px;
  background-color: var(--color-bg-secondary);
}

.logo {
  flex-shrink: 0;
  padding: 24px 0 24px;
}

.nav {
  display: flex;
  gap: 40px;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: -0.02em;
  color: #f9f9f9;
}

.navLink {
  padding: 24px 0 24px;
  position: relative;
}

.navLinkHome.navLinkActive::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 11px;
  width: 43px;
  height: 3px;
  background-color: #4f92f7;
  border-radius: 8px;
}

.navLinkLibrary.navLinkActive::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 11px;
  width: 68px;
  height: 3px;
  background-color: #4f92f7;
  border-radius: 8px;
}

.userBlock {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #262626;
  border: 1px solid rgba(249, 249, 249, 0.2);
  margin-right: 8px;
}

.avatarLetter {
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #f9f9f9;
}

.userName {
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #f9f9f9;
  margin-right: 16px;
}

.logoutBtn {
  border: 1px solid rgba(249, 249, 249, 0.2);
  border-radius: 30px;
  padding: 11px 27px;
  color: #f9f9f9;
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: 0.02em;
  color: #f9f9f9;
}
