.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 57px;
  padding: 0 20px;
  background-color: var(--color-bg-secondary);
  border-radius: 15px;
}

.logoText,
.userName,
.nav,
.logoutBtn {
  display: none;
}

.userBlock {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #262626;
  border: 1px solid rgba(249, 249, 249, 0.2);
  margin-right: 10px;
}

.avatarLetter {
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #f9f9f9;
}

.logoutBtn {
  border: 1px solid rgba(249, 249, 249, 0.2);
  border-radius: 30px;
  padding: 11px 27px;
  color: #f9f9f9;
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: 0.02em;
  color: #f9f9f9;
}

.logoutBtn:hover {
  color: #1f1f1f;
  background-color: #f9f9f9;
}

.burgerBtn {
  color: #f9f9f9;
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.6);
  z-index: 1000;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  background-color: #1f1f1f;
  padding: 34px 40px 40px;
  display: flex;
  flex-direction: column;
  animation: slideIn 0.3s ease-in-out;
  z-index: 1001;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #f9f9f9;
  transition: opacity var(--transition-default);
}

.mobileNav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  margin-top: auto;
  margin-bottom: auto;
}

.mobileNavLink {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: rgba(249, 249, 249, 0.5);
  transition: color var(--transition-default);
  padding: 8px 0;
}

.mobileNavLink:hover {
  color: #f9f9f9;
}

.mobileNavLinkActive {
  color: #f9f9f9;
  font-weight: 700;
}

.mobileNavLinkHome.mobileNavLinkActive::after {
  content: "";
  position: absolute;
  left: 46%;
  transform: translateX(-50%);
  bottom: 1px;
  width: 38px;
  height: 3px;
  background-color: #4f92f7;
  border-radius: 8px;
}

.mobileNavLinkLibrary.mobileNavLinkActive::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1px;
  width: 65px;
  height: 3px;
  background-color: #4f92f7;
  border-radius: 8px;
}

.mobileLogoutBtn {
  width: 91px;
  height: 38px;
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid rgba(249, 249, 249, 0.2);
  border-radius: 30px;
  color: #f9f9f9;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: 0.02em;
  cursor: pointer;
  white-space: nowrap;
  transition: all var(--transition-default);
}

.mobileLogoutBtn:hover {
  background-color: rgba(249, 249, 249, 0.1);
  border-color: rgba(249, 249, 249, 0.4);
}

.iconBurger {
  stroke: currentColor;
  fill: none;
}

.closeBtn svg {
  stroke: currentColor;
  fill: none;
  color: #f9f9f9;
}

@media screen and (min-width: 768px) {
  .burgerBtn {
    display: none;
  }

  .nav {
    display: flex;
    gap: 32px;
  }

  .navLink {
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    color: rgba(249, 249, 249, 0.5);
    transition: color var(--transition-default);
    position: relative;
    padding: 20px 0;
  }

  .navLink:hover {
    border: 1px solid rgba(249, 249, 249, 0.1);
  }

  .navLinkActive {
    color: #f9f9f9;
  }

  .navLinkHome.navLinkActive::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 8px;
    width: 43px;
    height: 3px;
    background-color: #4f92f7;
    border-radius: 8px;
  }

  .navLinkLibrary.navLinkActive::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 8px;
    width: 68px;
    height: 3px;
    background-color: #4f92f7;
    border-radius: 8px;
  }

  .logoutBtn {
    display: block;
    border: 1px solid rgba(249, 249, 249, 0.2);
    border-radius: 30px;
    padding: 12px 28px;
    color: #f9f9f9;
    font-weight: 700;
    font-size: 16px;
    line-height: 112%;
    letter-spacing: 0.02em;
    color: #f9f9f9;
  }

  .logoutBtn:hover {
    border: 1px solid rgba(249, 249, 249, 0.1);
  }

  .userBlock {
    gap: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .headerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* max-width: 1440px; */
    margin: 0 auto;
    padding: 0 16px;
    border-radius: 15px;
    background-color: var(--color-bg-secondary);
  }

  .logo {
    display: flex;
    gap: 4px;
    flex-shrink: 0;
    padding: 24px 0 24px;
  }

  .logoText {
    display: block;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #f9f9f9;
  }

  .nav {
    display: flex;
    gap: 40px;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 112%;
    letter-spacing: -0.02em;
    color: #f9f9f9;
  }

  .navLink {
    padding: 24px 0 24px;
    position: relative;
  }

  .navLinkHome.navLinkActive::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 19px;
    width: 43px;
    height: 3px;
    background-color: #4f92f7;
    border-radius: 8px;
  }

  .navLinkLibrary.navLinkActive::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 19px;
    width: 68px;
    height: 3px;
    background-color: #4f92f7;
    border-radius: 8px;
  }

  .userBlock {
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }

  .avatar {
    margin-right: 8px;
  }

  .userName {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 112%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #f9f9f9;
    margin-right: 16px;
  }

  .logoutBtn {
    border: 1px solid rgba(249, 249, 249, 0.2);
    border-radius: 30px;
    padding: 11px 27px;
    color: #f9f9f9;
    font-weight: 700;
    font-size: 16px;
    line-height: 112%;
    letter-spacing: 0.02em;
    color: #f9f9f9;
  }
}
