.authContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.authBlock {
  padding: 20px 20px 40px;
  border-radius: 30px;
  height: 100%;
  background-color: var(--color-bg-secondary);
}

.logoText {
  display: none;
}

.logo {
  margin-bottom: 40px;
}

.authTitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #f9f9f9;
  margin-bottom: 20px;
}

.mainTitleWord {
  color: rgba(227, 227, 227, 0.5);
}

@media screen and (min-width: 768px) {
  .authBlock {
    padding: 40px 64px 214px;
  }

  .logoText {
    display: inline;
  }

  .logo {
    display: flex;
    gap: 4px;
    font-weight: 700;
    color: var(--color-text);
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-bottom: 157.5px;
  }

  .authTitle {
    font-weight: 700;
    font-size: 64px;
    line-height: 94%;
    letter-spacing: 0.02em;
    color: #f9f9f9;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .authContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }

  .authBlock {
    padding: 42px 53px 38px 75px;
    height: 100%;
    width: 600px;
  }

  .logo {
    margin-bottom: 107px;
    display: flex;
    gap: 4px;
  }

  .authTitle {
    width: 444px;
    max-height: 180px;
  }
}
