/* src/components/AuthLayout/AuthLayout.module.css */

.authPage {
  min-height: 100vh;
  background-color: var(--color-bg-primary);
}

.authWrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  max-width: 1216px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .authWrapper {
    padding: 40px 20px;
  }
}
